/* special{

}
.special{
    background-color:red;
}
@media  (max-width: 600px) {
    .special{
        background-color:pink;
    }
    
} */
@import url('https://fonts.googleapis.com/css?family=Cardo|Open+Sans+Condensed:300&display=swap');
h1
{
    font-family: 'barriecito' ,cursive;
}